
.rl-header-title {
    display: inline-block;
    color: #080e29;
    font-weight: 500;
    text-decoration: none;
    font-size: 24px;
    box-shadow: 0 1px 9px -3px rgba(5, 5, 5, 0.2);
}

.select-label{
    font-size: 16px;
    margin-right: 5px;
}